http:
  routers:
    docs-redirect:
      rule: (Host(`dash.libops.io` || Host(`api.libops.io`)) && Path(`/`)
      entryPoints:
        - http
      priority: 99
      service: api-docs-noop@internal
      middlewares:
        - docs-redirect

    api:
      rule: Host(`api.libops.io`) && (PathPrefix(`/v1`) || PathPrefix(`/auth`))
      entryPoints:
        - http
      priority: 90
      service: api

    vault:
      rule: Host(`vault`) || (Host(`api.libops.io`) && (PathPrefix(`/ui/vault/identity/oidc/`) || PathPrefix(`/ui/assets/`) || PathPrefix(`/ui/sw-registration`)))
      entryPoints:
        - http
      priority: 80
      service: vault

    docs:
      rule: Host(`docs.libops.io`)
      entryPoints:
        - http
      priority: 10
      service: docs

    dash:
      rule: Host(`dash.libops.io`) && !PathPrefix(`/v1`) && !PathPrefix(`/auth`)
      entryPoints:
        - http
      priority: 10
      service: api

  middlewares:
    docs-redirect:
      redirectRegex:
        regex: "^https?://(dash|api).libops.io/?$"
        replacement: "https://docs.libops.io"

  services:
    vault:
      loadBalancer:
        servers:
          - url: http://vault:8200

    api:
      loadBalancer:
        servers:
          - url: http://api:8080

    docs:
      loadBalancer:
        servers:
          - url: http://docs:80
