http:
  routers:
    docs-redirect:
      rule: (Header(`X-Forwarded-Host`, `dash.libops.io`) || Header(`X-Forwarded-Host`, `api.libops.io`)) && Path(`/`)
      entryPoints:
        - http
      priority: 99
      service: noop@internal
      middlewares:
        - docs-redirect

    api:
      rule: Host(`api.libops.io`) || Header(`X-Forwarded-Host`, `api.libops.io`) || Header(`X-Forwarded-Host`, `dash.libops.io`)
      entryPoints:
        - http
      priority: 90
      service: api

    vault:
      rule: Host(`vault.libops.io`) || Host(`vault`)
      entryPoints:
        - http
      priority: 80
      service: vault

    docs:
      rule: Host(`docs.libops.io`) || Header(`X-Forwarded-Host`, `docs.libops.io`)
      entryPoints:
        - http
      priority: 10
      service: docs

  middlewares:
    docs-redirect:
      redirectRegex:
        regex: "^https?://.*/?$"
        replacement: "https://docs.libops.io"

  services:
    vault:
      loadBalancer:
        servers:
          - url: http://vault:8200

    api:
      loadBalancer:
        servers:
          - url: http://api:8080

    docs:
      loadBalancer:
        servers:
          - url: http://docs:80
