[Unit]
Description=Firewall Trigger Watcher
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/reconcile-firewall
ExecStart=/usr/local/bin/watch-firewall-trigger.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=watch-firewall-trigger

[Install]
WantedBy=multi-user.target
