openapi: 3.1.2
info:
  title: LibOps API
  version: 1.0.0
  description: LibOps control plane API to run docker compose projects on Google Cloud
  contact:
    name: LibOps
    url: https://github.com/libops/api
  license:
    name: MIT
    url: https://github.com/libops/api/blob/main/LICENSE
servers:
- url: https://api.libops.io
  description: Production server
paths:
  /libops.v1.AccountService/CreateApiKey:
    post:
      tags:
      - libops.v1.AccountService
      summary: Create an API key for the authenticated user
      description: Create an API key for the authenticated user
      operationId: libops.v1.AccountService.CreateApiKey
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateApiKeyResponse'
  /libops.v1.AccountService/GetAccountByEmail:
    get:
      tags:
      - libops.v1.AccountService
      summary: Get account information by email (for Terraform provider lookups)
      description: Get account information by email (for Terraform provider lookups)
      operationId: libops.v1.AccountService.GetAccountByEmail.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetAccountByEmailRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetAccountByEmailResponse'
    post:
      tags:
      - libops.v1.AccountService
      summary: Get account information by email (for Terraform provider lookups)
      description: Get account information by email (for Terraform provider lookups)
      operationId: libops.v1.AccountService.GetAccountByEmail
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetAccountByEmailRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetAccountByEmailResponse'
  /libops.v1.AccountService/ListApiKeys:
    get:
      tags:
      - libops.v1.AccountService
      summary: List API keys for the authenticated user
      description: List API keys for the authenticated user
      operationId: libops.v1.AccountService.ListApiKeys.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListApiKeysRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListApiKeysResponse'
    post:
      tags:
      - libops.v1.AccountService
      summary: List API keys for the authenticated user
      description: List API keys for the authenticated user
      operationId: libops.v1.AccountService.ListApiKeys
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListApiKeysRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListApiKeysResponse'
  /libops.v1.AccountService/RevokeApiKey:
    post:
      tags:
      - libops.v1.AccountService
      summary: Revoke an API key for the authenticated user
      description: Revoke an API key for the authenticated user
      operationId: libops.v1.AccountService.RevokeApiKey
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.RevokeApiKeyRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.RevokeApiKeyResponse'
  /libops.v1.AdminAccountService/CreateAccount:
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Create a new account
      description: Create a new account
      operationId: libops.v1.AdminAccountService.CreateAccount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateAccountResponse'
  /libops.v1.AdminAccountService/DeleteAccount:
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Delete an account
      description: Delete an account
      operationId: libops.v1.AdminAccountService.DeleteAccount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.AdminAccountService/GetAccount:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: Get account information by ID
      description: Get account information by ID
      operationId: libops.v1.AdminAccountService.GetAccount.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetAccountRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetAccountResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Get account information by ID
      description: Get account information by ID
      operationId: libops.v1.AdminAccountService.GetAccount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetAccountResponse'
  /libops.v1.AdminAccountService/GetAccountByEmail:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: Get account information by email
      description: Get account information by email
      operationId: libops.v1.AdminAccountService.GetAccountByEmail.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetAccountByEmailRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetAccountByEmailResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Get account information by email
      description: Get account information by email
      operationId: libops.v1.AdminAccountService.GetAccountByEmail
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetAccountByEmailRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetAccountByEmailResponse'
  /libops.v1.AdminAccountService/ListAccountProjects:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: List projects for an account
      description: List projects for an account
      operationId: libops.v1.AdminAccountService.ListAccountProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountProjectsResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: List projects for an account
      description: List projects for an account
      operationId: libops.v1.AdminAccountService.ListAccountProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountProjectsResponse'
  /libops.v1.AdminAccountService/ListAccountRepositories:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: List repositories for an account
      description: List repositories for an account
      operationId: libops.v1.AdminAccountService.ListAccountRepositories.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountRepositoriesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountRepositoriesResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: List repositories for an account
      description: List repositories for an account
      operationId: libops.v1.AdminAccountService.ListAccountRepositories
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountRepositoriesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountRepositoriesResponse'
  /libops.v1.AdminAccountService/ListAccounts:
    get:
      tags:
      - libops.v1.AdminAccountService
      summary: List accounts (admin only)
      description: List accounts (admin only)
      operationId: libops.v1.AdminAccountService.ListAccounts.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountsResponse'
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: List accounts (admin only)
      description: List accounts (admin only)
      operationId: libops.v1.AdminAccountService.ListAccounts
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListAccountsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListAccountsResponse'
  /libops.v1.AdminAccountService/UpdateAccount:
    post:
      tags:
      - libops.v1.AdminAccountService
      summary: Update account information
      description: Update account information
      operationId: libops.v1.AdminAccountService.UpdateAccount
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.UpdateAccountRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.UpdateAccountResponse'
  /libops.v1.AdminOrganizationService/CreateOrganization:
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Create a new organization (admin - can set all fields)
      description: Create a new organization (admin - can set all fields)
      operationId: libops.v1.AdminOrganizationService.CreateOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminCreateOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminCreateOrganizationResponse'
  /libops.v1.AdminOrganizationService/DeleteOrganization:
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Delete a organization (must have no projects)
      description: Delete a organization (must have no projects)
      operationId: libops.v1.AdminOrganizationService.DeleteOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminDeleteOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.AdminOrganizationService/GetOrganization:
    get:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Get organization configuration (admin view - includes sensitive fields)
      description: Get organization configuration (admin view - includes sensitive
        fields)
      operationId: libops.v1.AdminOrganizationService.GetOrganization.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetOrganizationRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetOrganizationResponse'
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Get organization configuration (admin view - includes sensitive fields)
      description: Get organization configuration (admin view - includes sensitive
        fields)
      operationId: libops.v1.AdminOrganizationService.GetOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetOrganizationResponse'
  /libops.v1.AdminOrganizationService/ListOrganizationProjects:
    get:
      tags:
      - libops.v1.AdminOrganizationService
      summary: List projects for a organization (admin view)
      description: List projects for a organization (admin view)
      operationId: libops.v1.AdminOrganizationService.ListOrganizationProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListOrganizationProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListOrganizationProjectsResponse'
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: List projects for a organization (admin view)
      description: List projects for a organization (admin view)
      operationId: libops.v1.AdminOrganizationService.ListOrganizationProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListOrganizationProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListOrganizationProjectsResponse'
  /libops.v1.AdminOrganizationService/ListOrganizations:
    get:
      tags:
      - libops.v1.AdminOrganizationService
      summary: List all organizations (admin view)
      description: List all organizations (admin view)
      operationId: libops.v1.AdminOrganizationService.ListOrganizations.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListOrganizationsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListOrganizationsResponse'
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: List all organizations (admin view)
      description: List all organizations (admin view)
      operationId: libops.v1.AdminOrganizationService.ListOrganizations
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListOrganizationsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListOrganizationsResponse'
  /libops.v1.AdminOrganizationService/UpdateOrganization:
    post:
      tags:
      - libops.v1.AdminOrganizationService
      summary: Update organization metadata (admin - can update all fields)
      description: Update organization metadata (admin - can update all fields)
      operationId: libops.v1.AdminOrganizationService.UpdateOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminUpdateOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminUpdateOrganizationResponse'
  /libops.v1.AdminProjectService/CreateProject:
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: Create a new project (admin - can set all fields)
      description: Create a new project (admin - can set all fields)
      operationId: libops.v1.AdminProjectService.CreateProject
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminCreateProjectRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminCreateProjectResponse'
  /libops.v1.AdminProjectService/DeleteProject:
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: Delete a project (must have no sites)
      description: Delete a project (must have no sites)
      operationId: libops.v1.AdminProjectService.DeleteProject
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminDeleteProjectRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.AdminProjectService/GetProject:
    get:
      tags:
      - libops.v1.AdminProjectService
      summary: Get project configuration (admin view - includes sensitive fields)
      description: Get project configuration (admin view - includes sensitive fields)
      operationId: libops.v1.AdminProjectService.GetProject.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetProjectRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetProjectResponse'
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: Get project configuration (admin view - includes sensitive fields)
      description: Get project configuration (admin view - includes sensitive fields)
      operationId: libops.v1.AdminProjectService.GetProject
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetProjectRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetProjectResponse'
  /libops.v1.AdminProjectService/ListAllProjects:
    get:
      tags:
      - libops.v1.AdminProjectService
      summary: List all projects across all organizations (admin only)
      description: List all projects across all organizations (admin only)
      operationId: libops.v1.AdminProjectService.ListAllProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListAllProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListAllProjectsResponse'
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: List all projects across all organizations (admin only)
      description: List all projects across all organizations (admin only)
      operationId: libops.v1.AdminProjectService.ListAllProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListAllProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListAllProjectsResponse'
  /libops.v1.AdminProjectService/ListProjects:
    get:
      tags:
      - libops.v1.AdminProjectService
      summary: List projects for a organization (admin view)
      description: List projects for a organization (admin view)
      operationId: libops.v1.AdminProjectService.ListProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListProjectsResponse'
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: List projects for a organization (admin view)
      description: List projects for a organization (admin view)
      operationId: libops.v1.AdminProjectService.ListProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListProjectsResponse'
  /libops.v1.AdminProjectService/UpdateProject:
    post:
      tags:
      - libops.v1.AdminProjectService
      summary: Update project configuration (admin - can update all fields)
      description: Update project configuration (admin - can update all fields)
      operationId: libops.v1.AdminProjectService.UpdateProject
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminUpdateProjectRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminUpdateProjectResponse'
  /libops.v1.AdminSiteService/CreateSite:
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Create a new site (admin - can set all fields)
      description: Create a new site (admin - can set all fields)
      operationId: libops.v1.AdminSiteService.CreateSite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminCreateSiteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminCreateSiteResponse'
  /libops.v1.AdminSiteService/DeleteSite:
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Delete a site
      description: Delete a site
      operationId: libops.v1.AdminSiteService.DeleteSite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminDeleteSiteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.AdminSiteService/GetSite:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: Get site configuration (admin view - includes internal GCP details)
      description: Get site configuration (admin view - includes internal GCP details)
      operationId: libops.v1.AdminSiteService.GetSite.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetSiteRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetSiteResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Get site configuration (admin view - includes internal GCP details)
      description: Get site configuration (admin view - includes internal GCP details)
      operationId: libops.v1.AdminSiteService.GetSite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminGetSiteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminGetSiteResponse'
  /libops.v1.AdminSiteService/ListAllSites:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: List all sites across all organizations/projects (admin only)
      description: List all sites across all organizations/projects (admin only)
      operationId: libops.v1.AdminSiteService.ListAllSites.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListAllSitesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListAllSitesResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: List all sites across all organizations/projects (admin only)
      description: List all sites across all organizations/projects (admin only)
      operationId: libops.v1.AdminSiteService.ListAllSites
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListAllSitesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListAllSitesResponse'
  /libops.v1.AdminSiteService/ListSites:
    get:
      tags:
      - libops.v1.AdminSiteService
      summary: List sites (admin view)
      description: List sites (admin view)
      operationId: libops.v1.AdminSiteService.ListSites.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListSitesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListSitesResponse'
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: List sites (admin view)
      description: List sites (admin view)
      operationId: libops.v1.AdminSiteService.ListSites
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminListSitesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminListSitesResponse'
  /libops.v1.AdminSiteService/UpdateSite:
    post:
      tags:
      - libops.v1.AdminSiteService
      summary: Update site configuration (admin - can update all fields)
      description: Update site configuration (admin - can update all fields)
      operationId: libops.v1.AdminSiteService.UpdateSite
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.AdminUpdateSiteRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.AdminUpdateSiteResponse'
  /libops.v1.FirewallService/CreateOrganizationFirewallRule:
    post:
      tags:
      - libops.v1.FirewallService
      summary: Add firewall rule applied to all sites for a organization
      description: Add firewall rule applied to all sites for a organization
      operationId: libops.v1.FirewallService.CreateOrganizationFirewallRule
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateOrganizationFirewallRuleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateOrganizationFirewallRuleResponse'
  /libops.v1.FirewallService/DeleteOrganizationFirewallRule:
    post:
      tags:
      - libops.v1.FirewallService
      summary: Remove a firewall rule from all sites for a organization
      description: Remove a firewall rule from all sites for a organization
      operationId: libops.v1.FirewallService.DeleteOrganizationFirewallRule
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteOrganizationFirewallRuleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.FirewallService/ListOrganizationFirewallRules:
    get:
      tags:
      - libops.v1.FirewallService
      summary: List firewall rules applied to all sites for a organization
      description: List firewall rules applied to all sites for a organization
      operationId: libops.v1.FirewallService.ListOrganizationFirewallRules.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationFirewallRulesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationFirewallRulesResponse'
    post:
      tags:
      - libops.v1.FirewallService
      summary: List firewall rules applied to all sites for a organization
      description: List firewall rules applied to all sites for a organization
      operationId: libops.v1.FirewallService.ListOrganizationFirewallRules
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationFirewallRulesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationFirewallRulesResponse'
  /libops.v1.MemberService/CreateOrganizationMember:
    post:
      tags:
      - libops.v1.MemberService
      summary: Create a member in a organization
      description: Create a member in a organization
      operationId: libops.v1.MemberService.CreateOrganizationMember
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateOrganizationMemberRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateOrganizationMemberResponse'
  /libops.v1.MemberService/DeleteOrganizationMember:
    post:
      tags:
      - libops.v1.MemberService
      summary: Delete a member from a organization
      description: Delete a member from a organization
      operationId: libops.v1.MemberService.DeleteOrganizationMember
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteOrganizationMemberRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.MemberService/ListOrganizationMembers:
    get:
      tags:
      - libops.v1.MemberService
      summary: List members of a organization
      description: List members of a organization
      operationId: libops.v1.MemberService.ListOrganizationMembers.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationMembersRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationMembersResponse'
    post:
      tags:
      - libops.v1.MemberService
      summary: List members of a organization
      description: List members of a organization
      operationId: libops.v1.MemberService.ListOrganizationMembers
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationMembersRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationMembersResponse'
  /libops.v1.MemberService/UpdateOrganizationMember:
    post:
      tags:
      - libops.v1.MemberService
      summary: Update a member's role
      description: Update a member's role
      operationId: libops.v1.MemberService.UpdateOrganizationMember
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.UpdateOrganizationMemberRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.UpdateOrganizationMemberResponse'
  /libops.v1.OrganizationSecretService/CreateOrganizationSecret:
    post:
      tags:
      - libops.v1.OrganizationSecretService
      summary: Create an organization secret
      description: Create an organization secret
      operationId: libops.v1.OrganizationSecretService.CreateOrganizationSecret
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateOrganizationSecretRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateOrganizationSecretResponse'
  /libops.v1.OrganizationSecretService/DeleteOrganizationSecret:
    post:
      tags:
      - libops.v1.OrganizationSecretService
      summary: Delete an organization secret
      description: Delete an organization secret
      operationId: libops.v1.OrganizationSecretService.DeleteOrganizationSecret
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteOrganizationSecretRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.OrganizationSecretService/GetOrganizationSecret:
    get:
      tags:
      - libops.v1.OrganizationSecretService
      summary: Get an organization secret
      description: Get an organization secret
      operationId: libops.v1.OrganizationSecretService.GetOrganizationSecret.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetOrganizationSecretRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetOrganizationSecretResponse'
    post:
      tags:
      - libops.v1.OrganizationSecretService
      summary: Get an organization secret
      description: Get an organization secret
      operationId: libops.v1.OrganizationSecretService.GetOrganizationSecret
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetOrganizationSecretRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetOrganizationSecretResponse'
  /libops.v1.OrganizationSecretService/ListOrganizationSecrets:
    get:
      tags:
      - libops.v1.OrganizationSecretService
      summary: List organization secrets
      description: List organization secrets
      operationId: libops.v1.OrganizationSecretService.ListOrganizationSecrets.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationSecretsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationSecretsResponse'
    post:
      tags:
      - libops.v1.OrganizationSecretService
      summary: List organization secrets
      description: List organization secrets
      operationId: libops.v1.OrganizationSecretService.ListOrganizationSecrets
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationSecretsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationSecretsResponse'
  /libops.v1.OrganizationSecretService/UpdateOrganizationSecret:
    post:
      tags:
      - libops.v1.OrganizationSecretService
      summary: Update an organization secret
      description: Update an organization secret
      operationId: libops.v1.OrganizationSecretService.UpdateOrganizationSecret
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.UpdateOrganizationSecretRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.UpdateOrganizationSecretResponse'
  /libops.v1.OrganizationService/CreateOrganization:
    post:
      tags:
      - libops.v1.OrganizationService
      summary: Create a new organization
      description: Create a new organization
      operationId: libops.v1.OrganizationService.CreateOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateOrganizationResponse'
  /libops.v1.OrganizationService/DeleteOrganization:
    post:
      tags:
      - libops.v1.OrganizationService
      summary: Delete a organization (must have no projects)
      description: Delete a organization (must have no projects)
      operationId: libops.v1.OrganizationService.DeleteOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.OrganizationService/GetOrganization:
    get:
      tags:
      - libops.v1.OrganizationService
      summary: Get organization configuration (organization view)
      description: Get organization configuration (organization view)
      operationId: libops.v1.OrganizationService.GetOrganization.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetOrganizationRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetOrganizationResponse'
    post:
      tags:
      - libops.v1.OrganizationService
      summary: Get organization configuration (organization view)
      description: Get organization configuration (organization view)
      operationId: libops.v1.OrganizationService.GetOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.GetOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.GetOrganizationResponse'
  /libops.v1.OrganizationService/ListOrganizationProjects:
    get:
      tags:
      - libops.v1.OrganizationService
      summary: List projects for a organization
      description: List projects for a organization
      operationId: libops.v1.OrganizationService.ListOrganizationProjects.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationProjectsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationProjectsResponse'
    post:
      tags:
      - libops.v1.OrganizationService
      summary: List projects for a organization
      description: List projects for a organization
      operationId: libops.v1.OrganizationService.ListOrganizationProjects
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationProjectsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationProjectsResponse'
  /libops.v1.OrganizationService/ListOrganizations:
    get:
      tags:
      - libops.v1.OrganizationService
      summary: List all organizations
      description: List all organizations
      operationId: libops.v1.OrganizationService.ListOrganizations.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationsRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationsResponse'
    post:
      tags:
      - libops.v1.OrganizationService
      summary: List all organizations
      description: List all organizations
      operationId: libops.v1.OrganizationService.ListOrganizations
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListOrganizationsRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListOrganizationsResponse'
  /libops.v1.OrganizationService/UpdateOrganization:
    post:
      tags:
      - libops.v1.OrganizationService
      summary: Update organization metadata (organization-editable fields only)
      description: Update organization metadata (organization-editable fields only)
      operationId: libops.v1.OrganizationService.UpdateOrganization
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.UpdateOrganizationRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.UpdateOrganizationResponse'
  /libops.v1.ProjectFirewallService/CreateProjectFirewallRule:
    post:
      tags:
      - libops.v1.ProjectFirewallService
      summary: Add firewall rule to all sites in a project
      description: Add firewall rule to all sites in a project
      operationId: libops.v1.ProjectFirewallService.CreateProjectFirewallRule
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateProjectFirewallRuleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateProjectFirewallRuleResponse'
  /libops.v1.ProjectFirewallService/DeleteProjectFirewallRule:
    post:
      tags:
      - libops.v1.ProjectFirewallService
      summary: Remove a firewall rule from all sites in a project
      description: Remove a firewall rule from all sites in a project
      operationId: libops.v1.ProjectFirewallService.DeleteProjectFirewallRule
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.DeleteProjectFirewallRuleRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/google.protobuf.Empty'
  /libops.v1.ProjectFirewallService/ListProjectFirewallRules:
    get:
      tags:
      - libops.v1.ProjectFirewallService
      summary: List firewall rules applied to all sites in a project
      description: List firewall rules applied to all sites in a project
      operationId: libops.v1.ProjectFirewallService.ListProjectFirewallRules.get
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      - name: message
        in: query
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListProjectFirewallRulesRequest'
      - name: encoding
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/encoding'
      - name: base64
        in: query
        schema:
          $ref: '#/components/schemas/base64'
      - name: compression
        in: query
        schema:
          $ref: '#/components/schemas/compression'
      - name: connect
        in: query
        schema:
          $ref: '#/components/schemas/connect'
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListProjectFirewallRulesResponse'
    post:
      tags:
      - libops.v1.ProjectFirewallService
      summary: List firewall rules applied to all sites in a project
      description: List firewall rules applied to all sites in a project
      operationId: libops.v1.ProjectFirewallService.ListProjectFirewallRules
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.ListProjectFirewallRulesRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.ListProjectFirewallRulesResponse'
  /libops.v1.ProjectMemberService/CreateProjectMember:
    post:
      tags:
      - libops.v1.ProjectMemberService
      summary: Add a member to a project
      description: Add a member to a project
      operationId: libops.v1.ProjectMemberService.CreateProjectMember
      parameters:
      - name: Connect-Protocol-Version
        in: header
        required: true
        schema:
          $ref: '#/components/schemas/connect-protocol-version'
      - name: Connect-Timeout-Ms
        in: header
        schema:
          $ref: '#/components/schemas/connect-timeout-header'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/libops.v1.CreateProjectMemberRequest'
        required: true
      responses:
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect.error'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/libops.v1.CreateProjectMemberResponse'
  /libops.v1.ProjectMemberService/DeleteProjectMember:
[...]
